* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.detail-page-outer-box-container { 
    display: flex;
    flex-direction: row;
    margin-left: 128px;
    margin-right: 128px;
    margin-top: 70px;
}



.main-image{ 
    

    
}

.main-image-display { 
    width: 100%;
    max-width: 555px;
    height: 355px;
    background-color: aqua;
}

.detail-picture-row-container { 
    display: flex;
    flex-direction: row;
}

.detail-picture-row-container > img { 
    width: 50px;
    height: 50px;
}

.image-container-index { 
    width: 120px;
    height: 120px;
}

.detail-item-name { 
    font-size: x-large;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

.detail-item-description{ 
    margin-top: 7px;
    font-family: 'Inter', sans-serif;
    color: rgb(93, 93, 93);
}

.detail-picture-container-text{ 
    margin-left: 70px;
}

.star-rating{
    margin-top: 7px;
}